<h1>Home</h1>
<div>
  <%=notice%>
</div>
<div>
  <%=alert%>
</div>
<% if user_signed_in? %>
    <%= link_to current_user.email,edit_user_registration_path %>
    <%=link_to "logout",destroy_user_session_path, method: :delete %>
<% else %>
    <%=link_to "Sign up",new_user_registration_path %>
    <%=link_to "Sign in",new_user_session_path %>
<% end %>



<!--Note, pre-rendering set in /config/initializers/react_on_rails.rb -->
<%= react_component('RouterApp', id: "RouterApp-react-component-0") %>
